@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<POS.DTO.SalesInvoiceTmp>
@{
    int count = 1;
}

<style>
    .modal-content{
        width: 165%;

    }
</style>
<div class="modal" id="SavedTransactionListModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">List Of Saved Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="savedTransactionListTable" class="table table-strip table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                @Html.DisplayName("Trans Mode")
                            </th>
                            <th>
                                @Html.DisplayName("Customer Name")
                            </th>
                            <th>
                                @Html.DisplayName("Total Amount")
                            </th>
                            <th>
                                @Html.DisplayName("Created Dated")
                            </th>
                            <th>
                                @Html.DisplayName("Created By")
                            </th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="invoice-id"> @Html.DisplayFor(modelItem => item.Id)</td>
                            <td class="membership-id">@Html.DisplayFor(modelItem => item.MemberId)</td>
                            <td>@count</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total_Net_Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created_By)
                            </td>

                            <td>
                                <button class="btn btn-sm btn-danger" onclick="invoice.deleteInvoice(this,'@item.Id')"><span class="fa fa-times"></span></button>
                            </td>
                        </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>