@model POS.DTO.ItemCategory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent_Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent_Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indentation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indentation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Has_Child)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Has_Child)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
