@model POS.DTO.RoleWisePermissionCommon

@{
    ViewData["Title"] = "Role Wise Permission";
}
<style>

    .card-header {
        padding: -0.25rem 1.25rem !important;
    }
</style>

<div class="page-wrapper">
    <div class="page-header">
        <div class="page-header-title">
            <h4>@ViewData["Title"]</h4>
           
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">Pages</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">@ViewData["Title"]</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        @*Your content here*@
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="RoleWisePermission">
                                    @Html.Partial("_ResponseMessagePartial")
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="roleWiseUserPermission.RoleId" class="control-label"></label>
                                            <select asp-for="roleWiseUserPermission.RoleId" asp-items="@ViewBag.Roles" class="form-control form-control-sm">
                                                <option value="">--Select Role --</option>
                                            </select>
                                            <span asp-validation-for="roleWiseUserPermission.RoleId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @*First half*@
                                            <div class="card card-header label-warning text-center">User Rights</div>
                                            <div class="br"></div>

                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input asp-for="roleWiseUserPermission.Sales_Discount_Flat_Item" /> @Html.DisplayNameFor(model => model.roleWiseUserPermission.Sales_Discount_Flat_Item)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label asp-for="roleWiseUserPermission.Sales_Discount_Flat_Item_Limit" class="control-label"></label>
                                                </div>
                                                <div class="form-group form-group-sm col-md-2">
                                                    <input asp-for="roleWiseUserPermission.Sales_Discount_Flat_Item_Limit" class="form-control form-control-sm text-right" type="number" max="100" min="0" disabled="disabled" />
                                                    <span asp-validation-for="roleWiseUserPermission.Sales_Discount_Flat_Item_Limit" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-1">
                                                    <label asp-for="roleWiseUserPermission.Sales_Discount_Flat_Item_Limit" class="control-label">%</label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input asp-for="roleWiseUserPermission.Sales_Discount_Line_Item" /> @Html.DisplayNameFor(model => model.roleWiseUserPermission.Sales_Discount_Line_Item)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label asp-for="roleWiseUserPermission.Sales_Discount_Line_Item_Limit" class="control-label"></label>
                                                </div>
                                                <div class="form-group form-group-sm col-md-2">
                                                    <input asp-for="roleWiseUserPermission.Sales_Discount_Line_Item_Limit" class="form-control form-control-sm text-right" type="number" min="0" disabled="disabled" />
                                                    <span asp-validation-for="roleWiseUserPermission.Sales_Discount_Line_Item_Limit" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-1">
                                                    <label asp-for="roleWiseUserPermission.Sales_Discount_Line_Item_Limit" class="control-label">%</label>
                                                </div>
                                            </div>


                                           
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input asp-for="roleWiseUserPermission.Sales_Rate_Commission_Right" /> @Html.DisplayNameFor(model => model.roleWiseUserPermission.Sales_Rate_Commission_Right)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input asp-for="roleWiseUserPermission.Credit_Bill_Pay" /> @Html.DisplayNameFor(model => model.roleWiseUserPermission.Credit_Bill_Pay)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input asp-for="roleWiseUserPermission.Credit_Note_Bill_Pay" /> @Html.DisplayNameFor(model => model.roleWiseUserPermission.Credit_Note_Bill_Pay)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input asp-for="roleWiseUserPermission.Require_Terminal_To_Login" /> @Html.DisplayNameFor(model => model.roleWiseUserPermission.Require_Terminal_To_Login)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            @*Second half*@
                                            <div class="card card-header label-warning text-center">Menu Rights</div>
                                            <div class="br"></div>
                                            <div id="MenuTreeView"></div>
                                        </div>

                                    </div>
                                    <div class="br"></div>
                                    <div class="form-row sr-only">
                                        <div class="form-group col-md-12">
                                            <input type="button" id="Save" value="Save Changes" class="btn btn-block btn-primary" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var roleWiseMenuPermissionData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.roleWiseMenuPermissions));       
</script>
<script src="~/js/Page/RoleWisePermission.js"></script>


}

