@model POS.DTO.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Po_Box)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Po_Box)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credit_Limit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credit_Limit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credit_Day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credit_Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_Sale_Refused)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_Sale_Refused)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_Member)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_Member)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob_Bs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dob_Bs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wedding_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wedding_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family_Member_Int)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family_Member_Int)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office_Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office_Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registration_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registration_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Validity_Period)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Validity_Period)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Validity_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Validity_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Membership_Scheme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Membership_Scheme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference_By)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference_By)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
