@model IEnumerable<POS.DTO.SettlementViewModel>

@{
    ViewData["Title"] = "Cash Settlement";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="//resources/demos/style.css">*@
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<style>
    .hr {
        display: block;
        margin-left: 0px;
        margin-top: -5px;
        width: 50%;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }

    .card-body-child {
        background-color: rgb(233, 233, 233)
    }

    .form-control {
        font-size: 10px;
        border-radius: 2px;
    }
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 6px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .VerifyButtonss {
        background-color: #87CEFA;
        border: none;
        color: white;
        padding: 6px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<div class="page-wrapper">
    <div class="page-header">
        <div class="page-header-title">
            <h4>@ViewData["Title"]</h4>
            <span>List of UnSettled Transaction</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">Transaction</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">@ViewData["Title"]</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        @*Your content here*@
                                  
                        <p>StartDate: <input type="text" id="startdatepicker"  value="@TempData["startdate"]"> EndDate: <input type="text" id="enddatepicker" value="@TempData["enddate"]"> <button class="button" value="button" id="filer">Preview</button> <button class="VerifyButtonss" value="@TempData["status"]"  id="VerifyList">VerifiedList</button></p>
                                                                                                                                       
                                                                                                                                      @*-- onclick="settlement.dateFilter();"*@
                                                                                                                                       

                        <div class="row" id="settlement-row">
                            <div class="col-md-12 pt-3 settlement-node">
                                <div class="card">
                                    <div class="card-header bg-success">$Username || $terminalName</div>
                                    <input type="hidden" class="Id" value="$id" />
                                    <div class="card-body card-body-child">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h4>Transaction Amt</h4>
                                                <hr class="hr" />
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Duration:</span>
                                                    </div>
                                                    <div class="col-md-9">
                                                        $startDate  <span class="font-weight-bold">To</span>  $endDate
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Card :</span>
                                                    </div>
                                                    <div class="transCardAmount col-md-5 text-right">
                                                        $transCardAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Credit :</span>
                                                    </div>
                                                    <div class="transCreditAmount col-md-5 text-right">
                                                        $transCreditAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Cr. Note :</span>
                                                    </div>
                                                    <div class="transCreditNoteAmount col-md-5 text-right">
                                                        $transCreditNoteAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Cash :</span>
                                                    </div>
                                                    <div class="transCashAmount col-md-5 text-right">
                                                        $transCashAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>Denomination Amt</h4>
                                                <hr class="hr" />

                                                <div class="row invisible">
                                                    <div class="col-md-3">
                                                        <span class="font-weight-bold">Card :</span>
                                                    </div>
                                                    <div class="col-md-9 text-center">
                                                        2019/4/24 2:08 PM To 2019/4/24 2:08 PM
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Card :</span>
                                                    </div>
                                                    <div class="denoCardAmount col-md-5 text-right">
                                                        $denoCardAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Credit :</span>
                                                    </div>
                                                    <div class="denoCreditAmount col-md-5 text-right">
                                                        $denoCreditAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Cr. Note :</span>
                                                    </div>
                                                    <div class="denoCreditNoteAmount col-md-5 text-right">
                                                        $denoCreditNoteAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Cash :</span>
                                                    </div>
                                                    <div class="denoCashAmount col-md-5 text-right">
                                                        $denoCashAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>

                                                <a href="#" class="denomination-view" onclick="settlement.denominationView($denominationId);">view Details</a>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>Adjustment Amt</h4>
                                                <hr class="hr" />
                                                <div class="row invisible">
                                                    <div class="col-md-3">
                                                        <span class="font-weight-bold">Card :</span>
                                                    </div>
                                                    <div class="col-md-9 text-center">
                                                        2019/4/24 2:08 PM To 2019/4/24 2:08 PM
                                                    </div>
                                                </div>
                                                <div class="br"></div>

                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Card :</span>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="adjustment adjustmentCardAmount form-control form-control-sm text-right" value="$adjCardAmount" placeholder="+- 0.00" onkeyup="settlement.calcShortExcessAmount(this)" />
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Credit :</span>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="adjustment adjustmentCreditAmount form-control form-control-sm text-right" value="$adjCreditAmount" placeholder="+- 0.00" onkeyup="settlement.calcShortExcessAmount(this)" />
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Cr. Note :</span>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="adjustment adjustmentCreditNoteAmount form-control form-control-sm text-right" value="$adjCreditNoteAmount" placeholder="+- 0.00" onkeyup="settlement.calcShortExcessAmount(this)" />
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Cash :</span>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="adjustment adjustmentCashAmount form-control form-control-sm text-right" value="$adjCashAmount" placeholder="+- 0.00" onkeyup="settlement.calcShortExcessAmount(this)" />
                                                    </div>
                                                </div>
                                                <div class="br"></div>

                                            </div>
                                            <div class="col-md-3">
                                                <h4>Short/Excess Amt</h4>
                                                <hr class="hr" />

                                                <div class="row invisible">
                                                    <div class="col-md-3">
                                                        <span class="font-weight-bold">Card :</span>
                                                    </div>
                                                    <div class="col-md-9 text-center">
                                                        2019/4/24 2:08 PM To 2019/4/24 2:08 PM
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Card :</span>
                                                    </div>
                                                    <div class="shortAccessCardAmount col-md-5 text-right">
                                                        $shortAccessCardAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Credit :</span>
                                                    </div>
                                                    <div class="shortAccessCreditAmount col-md-5 text-right">
                                                        $shortAccessCreditAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Cr. Note :</span>
                                                    </div>
                                                    <div class="shortAccessCreditNoteAmount col-md-5 text-right">
                                                        $shortAccessCreditNoteAmount
                                                    </div>
                                                </div>
                                                <div class="br"></div>
                                                <div class="row">
                                                    <div class="col-md-3 text-right p-0">
                                                        <span class="font-weight-bold">Cash :</span>
                                                    </div>
                                                    <div class="shortAccessCashAmount col-md-5 text-right">
                                                        $shortAccessCashAmount
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <input type="button" class="VerifyButton btn btn-success pull-right btn-sm" value="Verify" onclick="settlement.verifySettlement(this);" />
                                        <input type="button" class="PrintButton btn btn-success pull-right btn-sm" value="Print" onclick="settlement.printSettlement(this);" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts {
    <script src="~/js/Page/Settlement.js" asp-append-version="true"></script>
    <script>
        //var startdate = new Date();
        //var dd = String(startdate.getDate()).padStart(2, '0');
        //var mm = String(startdate.getMonth() + 1).padStart(2, '0'); //January is 0!
        //var yyyy = startdate.getFullYear();

        //startdate = mm + '/' + dd + '/' + yyyy;


        //var enddate = new Date();
        //enddate = startdate;
        //console.log("FirstDate", startdate);
        //console.log("EndDate", enddate);
        //function DateFilter() {

        //    console.log("StartDate", startdate);
        //    console.log("EndDate", enddate);

           
        //}
    
            //events
           
           @*var startdate=@TempData["startdate"];
           var enddate=@TempData["enddate"];*@



          

        

       
        
       
    </script>

}
